[submodule "bukkit"]
	path = bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
	branch = version/1.12.2
[submodule "forge"]
	path = forge
	url = https://github.com/MinecraftForge/MinecraftForge.git
	branch = 1.12.x
